In [6]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [14]:
df = pd.read_csv("cars_tratado.csv", index_col=0)

In [16]:
df.drop(columns='index', inplace=True)

In [19]:
dict_num_of_doors = {
    2: 'two',
    4: 'four'
}

In [20]:
df['num-of-doors-numeric'] = df['num-of-doors']
df['num-of-doors'] = df['num-of-doors'].map(dict_num_of_doors)

In [24]:
df['body-style'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [23]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,num-of-doors-numeric
0,3,162,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,2
1,3,162,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,2
2,1,144,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,6,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,2
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,4,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,4
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,5,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,2952,ohc,4,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,4
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,55.5,3049,ohc,4,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,4
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3012,ohcv,6,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,4
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3217,ohc,6,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,4
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3062,ohc,4,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,4

In [27]:
frequencia = df['fuel-type'].value_counts()
percentual = df['fuel-type'].value_counts(normalize=True) * 100

In [30]:
dist_freq_qualitativa = pd.DataFrame({
    "Frequencia" : frequencia,
    "Porcentagem": percentual  
})

In [32]:
dist_freq_qualitativa.rename_axis("fuel-type", axis=1)

fuel-type  Frequencia  Porcentagem
gas               181    90.049751
diesel             20     9.950249

### Crosstab

In [33]:
pd.crosstab(df['fuel-type'], df['num-of-doors'])

num-of-doors  four  two
fuel-type
diesel          17    3
gas             97   84

In [34]:
pd.crosstab(df['fuel-type'], df['num-of-doors'], normalize=True) * 100

num-of-doors       four        two
fuel-type
diesel         8.457711   1.492537
gas           48.258706  41.791045

In [43]:
df.groupby('fuel-type')['num-of-doors'].value_counts(normalize=True)  * 100

fuel-type  num-of-doors
diesel     four            85.00000
           two             15.00000
gas        four            53.59116
           two             46.40884
Name: num-of-doors, dtype: float64

In [51]:
pd.crosstab(df['fuel-type'], df['body-style'], normalize=True, margins=True) * 100

body-style  convertible  hardtop  hatchback  sedan  wagon    All
fuel-type
diesel                0      100        100   1500    300   2000
gas                 600      700       6700   7900   2200  18100
All                 600      800       6800   9400   2500  20100

In [49]:
pd.crosstab(df['fuel-type'], df['body-style'])

body-style  convertible  hardtop  hatchback  sedan  wagon
fuel-type
diesel                0        1          1     15      3
gas                   6        7         67     79     22

In [58]:
pd.crosstab(df['fuel-type'], 
            df['body-style'], 
            aggfunc = ['mean', 'min', 'max'],
            values = df['price']).T

fuel-type               diesel           gas
     body-style
mean convertible           NaN  21890.500000
     hardtop      28176.000000  21356.000000
     hatchback     7788.000000   9989.820896
     sedan        14774.400000  14400.012658
     wagon        19727.666667  11368.909091
min  convertible           NaN  11595.000000
     hardtop      28176.000000   8249.000000
     hatchback     7788.000000   5118.000000
     sedan         7099.000000   5499.000000
     wagon        13860.000000   6918.000000
max  convertible           NaN  37028.000000
     hardtop      28176.000000  45400.000000
     hatchback     7788.000000  22018.000000
     sedan        31600.000000  41315.000000
     wagon        28248.000000  18950.000000

In [64]:
df.groupby(by=['fuel-type', 'body-style'])['price'].mean()

fuel-type  body-style
diesel     hardtop        28176.000000
           hatchback       7788.000000
           sedan          14774.400000
           wagon          19727.666667
gas        convertible    21890.500000
           hardtop        21356.000000
           hatchback       9989.820896
           sedan          14400.012658
           wagon          11368.909091
Name: price, dtype: float64

In [65]:
df_medias_preco = df.groupby(by=['fuel-type', 'body-style'])['price'].mean().reset_index()

In [69]:
df_medias_preco

  fuel-type   body-style         price
0    diesel      hardtop  28176.000000
1    diesel    hatchback   7788.000000
2    diesel        sedan  14774.400000
3    diesel        wagon  19727.666667
4       gas  convertible  21890.500000
5       gas      hardtop  21356.000000
6       gas    hatchback   9989.820896
7       gas        sedan  14400.012658
8       gas        wagon  11368.909091

In [74]:
df_medias_preco[(df_medias_preco['fuel-type'] == 'diesel') & (df_medias_preco['body-style'] == 'sedan')]['price']

2    14774.4
Name: price, dtype: float64

In [84]:
df_medias_preco

  fuel-type   body-style         price
0    diesel      hardtop  28176.000000
1    diesel    hatchback   7788.000000
2    diesel        sedan  14774.400000
3    diesel        wagon  19727.666667
4       gas  convertible  21890.500000
5       gas      hardtop  21356.000000
6       gas    hatchback   9989.820896
7       gas        sedan  14400.012658
8       gas        wagon  11368.909091

In [88]:
df_medias_preco.to_dict(orient='index')

{0: {'fuel-type': 'diesel', 'body-style': 'hardtop', 'price': 28176.0},
 1: {'fuel-type': 'diesel', 'body-style': 'hatchback', 'price': 7788.0},
 2: {'fuel-type': 'diesel', 'body-style': 'sedan', 'price': 14774.4},
 3: {'fuel-type': 'diesel',
  'body-style': 'wagon',
  'price': 19727.666666666668},
 4: {'fuel-type': 'gas', 'body-style': 'convertible', 'price': 21890.5},
 5: {'fuel-type': 'gas', 'body-style': 'hardtop', 'price': 21356.0},
 6: {'fuel-type': 'gas',
  'body-style': 'hatchback',
  'price': 9989.820895522387},
 7: {'fuel-type': 'gas', 'body-style': 'sedan', 'price': 14400.012658227848},
 8: {'fuel-type': 'gas', 'body-style': 'wagon', 'price': 11368.90909090909}}

In [91]:
df_medias_preco.to_dict(orient='records')

[{'fuel-type': 'diesel', 'body-style': 'hardtop', 'price': 28176.0},
 {'fuel-type': 'diesel', 'body-style': 'hatchback', 'price': 7788.0},
 {'fuel-type': 'diesel', 'body-style': 'sedan', 'price': 14774.4},
 {'fuel-type': 'diesel', 'body-style': 'wagon', 'price': 19727.666666666668},
 {'fuel-type': 'gas', 'body-style': 'convertible', 'price': 21890.5},
 {'fuel-type': 'gas', 'body-style': 'hardtop', 'price': 21356.0},
 {'fuel-type': 'gas', 'body-style': 'hatchback', 'price': 9989.820895522387},
 {'fuel-type': 'gas', 'body-style': 'sedan', 'price': 14400.012658227848},
 {'fuel-type': 'gas', 'body-style': 'wagon', 'price': 11368.90909090909}]

In [87]:
df_medias_preco.T.to_dict('list')

{0: ['diesel', 'hardtop', 28176.0],
 1: ['diesel', 'hatchback', 7788.0],
 2: ['diesel', 'sedan', 14774.4],
 3: ['diesel', 'wagon', 19727.666666666668],
 4: ['gas', 'convertible', 21890.5],
 5: ['gas', 'hardtop', 21356.0],
 6: ['gas', 'hatchback', 9989.820895522387],
 7: ['gas', 'sedan', 14400.012658227848],
 8: ['gas', 'wagon', 11368.90909090909]}

In [92]:
list_records = [{'fuel-type': 'diesel', 'body-style': 'hardtop', 'price': 28176.0},
                {'fuel-type': 'diesel', 'body-style': 'hatchback', 'price': 7788.0},
                {'fuel-type': 'diesel', 'body-style': 'sedan', 'price': 14774.4},
                {'fuel-type': 'diesel', 'body-style': 'wagon', 'price': 19727.666666666668},
                {'fuel-type': 'gas', 'body-style': 'convertible', 'price': 21890.5},
                {'fuel-type': 'gas', 'body-style': 'hardtop', 'price': 21356.0},
                {'fuel-type': 'gas', 'body-style': 'hatchback', 'price': 9989.820895522387},
                {'fuel-type': 'gas', 'body-style': 'sedan', 'price': 14400.012658227848},
                {'fuel-type': 'gas', 'body-style': 'wagon', 'price': 11368.90909090909}]

In [93]:
pd.DataFrame(list_records)

  fuel-type   body-style         price
0    diesel      hardtop  28176.000000
1    diesel    hatchback   7788.000000
2    diesel        sedan  14774.400000
3    diesel        wagon  19727.666667
4       gas  convertible  21890.500000
5       gas      hardtop  21356.000000
6       gas    hatchback   9989.820896
7       gas        sedan  14400.012658
8       gas        wagon  11368.909091

In [94]:
dict_teste = {0: {'fuel-type': 'diesel', 'body-style': 'hardtop', 'price': 28176.0},
 1: {'fuel-type': 'diesel', 'body-style': 'hatchback', 'price': 7788.0},
 2: {'fuel-type': 'diesel', 'body-style': 'sedan', 'price': 14774.4},
 3: {'fuel-type': 'diesel',
  'body-style': 'wagon',
  'price': 19727.666666666668},
 4: {'fuel-type': 'gas', 'body-style': 'convertible', 'price': 21890.5},
 5: {'fuel-type': 'gas', 'body-style': 'hardtop', 'price': 21356.0},
 6: {'fuel-type': 'gas',
  'body-style': 'hatchback',
  'price': 9989.820895522387},
 7: {'fuel-type': 'gas', 'body-style': 'sedan', 'price': 14400.012658227848},
 8: {'fuel-type': 'gas', 'body-style': 'wagon', 'price': 11368.90909090909}}

In [95]:
dict_teste

{0: {'fuel-type': 'diesel', 'body-style': 'hardtop', 'price': 28176.0},
 1: {'fuel-type': 'diesel', 'body-style': 'hatchback', 'price': 7788.0},
 2: {'fuel-type': 'diesel', 'body-style': 'sedan', 'price': 14774.4},
 3: {'fuel-type': 'diesel',
  'body-style': 'wagon',
  'price': 19727.666666666668},
 4: {'fuel-type': 'gas', 'body-style': 'convertible', 'price': 21890.5},
 5: {'fuel-type': 'gas', 'body-style': 'hardtop', 'price': 21356.0},
 6: {'fuel-type': 'gas',
  'body-style': 'hatchback',
  'price': 9989.820895522387},
 7: {'fuel-type': 'gas', 'body-style': 'sedan', 'price': 14400.012658227848},
 8: {'fuel-type': 'gas', 'body-style': 'wagon', 'price': 11368.90909090909}}

In [97]:
pd.DataFrame(dict_teste).T

  fuel-type   body-style         price
0    diesel      hardtop       28176.0
1    diesel    hatchback        7788.0
2    diesel        sedan       14774.4
3    diesel        wagon  19727.666667
4       gas  convertible       21890.5
5       gas      hardtop       21356.0
6       gas    hatchback   9989.820896
7       gas        sedan  14400.012658
8       gas        wagon  11368.909091

In [98]:
dict_fuel = {
    "gas": {
        "hatchback": 7788.0,
        "sedan":14774.0,
    },
    "diesel":{
        "hatchback": 6788.0,
        "sedan":12774.0   
    }
}

In [101]:
pd.DataFrame(dict_fuel).reset_index()

       index      gas   diesel
0  hatchback   7788.0   6788.0
1      sedan  14774.0  12774.0

In [105]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,num-of-doors-numeric
0,3,162,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,2
1,3,162,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,2
2,1,144,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,6,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,2
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,4,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,4
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,5,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,2952,ohc,4,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,4
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,55.5,3049,ohc,4,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,4
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3012,ohcv,6,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,4
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3217,ohc,6,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,4
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3062,ohc,4,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,4

In [108]:
pd.get_dummies(df['num-of-doors'])

     four  two
0       0    1
1       0    1
2       0    1
3       1    0
4       1    0
..    ...  ...
196     1    0
197     1    0
198     1    0
199     1    0
200     1    0

[201 rows x 2 columns]

In [109]:
body_style_dummies = pd.get_dummies(df['body-style'])

In [110]:
body_style_dummies

     convertible  hardtop  hatchback  sedan  wagon
0              1        0          0      0      0
1              1        0          0      0      0
2              0        0          1      0      0
3              0        0          0      1      0
4              0        0          0      1      0
..           ...      ...        ...    ...    ...
196            0        0          0      1      0
197            0        0          0      1      0
198            0        0          0      1      0
199            0        0          0      1      0
200            0        0          0      1      0

[201 rows x 5 columns]

In [113]:
pd.concat([df, body_style_dummies], axis=1)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,num-of-doors-numeric,convertible,hardtop,hatchback,sedan,wagon
0,3,162,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,2,1,0,0,0,0
1,3,162,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,2,1,0,0,0,0
2,1,144,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,6,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,2,0,0,1,0,0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,4,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,4,0,0,0,1,0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,5,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,4,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,2952,ohc,4,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,4,0,0,0,1,0
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,55.5,3049,ohc,4,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,4,0,0,0,1,0
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3012,ohcv,6,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,4,0,0,0,1,0
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3217,ohc,6,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,4,0,0,0,1,0
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3062,ohc,4,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,4,0,0,0,1,0